
<%- include("common/header") -%>
<div class="circle"></div>
<%if(meassage!=)%>
<div class="alert alert-danger">
    <%message%>
</div>
<%}%>
<form class="form">
    <h2 class="form__title">Inicia sesión</h2>
    <p class="form__paragraph">You do not hava an account yet? <a href="#" class="form__link">Enter here</a></p>
    <div class="form__container">
        <div class="form__group">
            <input type="text" id="name" class="form__input" placeholder=" ">
            <label for="name" class="form__label">Name:</label>
            <span class="form__line"></span>
        </div>
        <div class="form__group">
            <input type="text" id="user" class="form__input" placeholder=" ">
            <label for="user" class="form__label">User:</label>
            <span class="form__line"></span>
        </div>
        <div class="form__group">
            <input type="text" id="password" class="form__input" placeholder=" ">
            <label for="password" class="form__label">password:</label>
            <span class="form__line"></span>
        </div>
        <input type="submit" class="form__submit value="submit">
    </div>
</form>   
<%- include("common/footer") -%>